html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

#logo {
  width: 200px;
}

#creuse {
  height: 80px;
  margin: auto 0;
}

#contact {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact a {
  text-decoration: none;
  color: #4169e2;
}

#contact ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#contact li {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #4169e2;
  padding: 0 20px;
  margin: auto 0;
}

#contact li:last-child {
  border: none;
}

header nav {
  background-color: #4169e2;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
}

header nav li {
  padding: 5px 15px 0 15px;
  font-size: 1.4em;
  color: white;
  font-family: 'Raleway', serif;
  font-weight: 600;
  height: 30px;
  margin: auto 0;
  cursor: pointer;
}

header nav li:hover {
  background-color: #567ffb;
}

#encartPub {
  background-image: url("../img/intro.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#encartPubDescript {
  background-color: rgba(0, 0, 0, 0.8);
  height: 300px;
  padding: 30px;
}

#encartPubDescript {
  color: white;
}

#encartPubDescript h3 {
  font-size: 2em;
  font-family: 'Raleway', serif;
  margin: 0;
}

#encartPubDescript p, #encartPubDescript ul {
  font-family: Arial, serif;
  font-size: 1.3em;
}

#encartPubDescript li {
  margin: 10px 0;
}

#promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

#promo1 {
  background-color: #4169e2;
  border-radius: 10px;
  margin-right: 50px;
  -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
}

#promo2 {
  background-color: #5ead1d;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
}

.promoTitre h4 {
  font-size: 1.6em;
  color: white;
  margin: 0 20px 10px 20px;
  font-family: 'Raleway', serif;
  padding-top: 8px;
}

.promoTitre p {
  color: white;
  margin: 0 20px;
}

.promoTitre {
  padding: 0 20px 10px 20px;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 4px 5px 2px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 2px rgba(0,0,0,0.3);
}

.promoPrix {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100px;
  padding-top: 20px;
}

.promoPrix p:first-child {
  background-color: red;
  height: 20px;
  color: white;
  font-family: Arial, serif;
  padding: 5px;
  margin-right: 40px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.promoPrix h2 {
  color: white;
  font-size: 4.5em;
  margin: 0;
}

.promoPrix p:last-child {
  color: white;
  font-family: Arial, serif;
  font-size: 2.2em;
}

.promoLink {
  background-color: white;
  height: 40px;
  border-radius:  0 0 10px 10px;
  -webkit-box-shadow: 0 -3px 10px 2px rgba(0,0,0,0.3);
  box-shadow: 0 -3px 10px 2px rgba(0,0,0,0.3);
}

.promoLink a {
  text-decoration: none;
  color: black;
}

.promoLink p {
  font-size: 1.1em;
  font-weight: 400;
  font-family: Arial, serif;
  margin: 0;
  padding: 10px 0;
}

#carte h1 {
  text-align: center;
  font-size: 2em;
  background-color: #4169e2;
  color: white;
  margin: 0;
  padding: 10px 0;
  font-family: 'Raleway', serif;
}

#carte iframe {
  width: 100%;
}
