html {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
}

#topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

#logo {
  width: 200px;
}

#creuse {
  height: 80px;
  margin: auto 0;
}

#contact {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact i {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #4169e2;
}

#contact a {
  text-decoration: none;
  color: #4169e2;
  font-family: 'Raleway', serif;
  font-size: 1.5em;
  font-weight: 500;
}

#contact ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

#contact li {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #4169e2;
  padding: 0 20px;
  margin: auto 0;
}

#contact li:last-child {
  border: none;
}

header nav {
  background-color: #4169e2;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

header nav li {
  padding: 5px 15px 0 15px;
  font-size: 1.4em;
  font-family: 'Raleway', serif;
  font-weight: 600;
  height: 30px;
  margin: auto 0;
  cursor: pointer;
}

header nav li:hover {
  background-color: #567ffb;
}

header nav a {
  text-decoration: none;
  color: white;
}

section {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  min-height: 100vh;
}

.mentionCGVFiltre {
  background-color: rgba(65, 105, 226, 0.7);
  min-height: 100vh;
  padding: 50px;
  text-align: center;
}

.mentionCGVFiltre div {
  background-color: white;
  border: 5px solid #4169e2;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

.mentionCGVFiltre p {
  margin: 0;
}

footer {
  background-color: #4169e2;
  color: white;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

footer li {
  height: 30px;
  margin: 0 20px;
  padding: 20px 20px;
  font-size: 1.5em;
  font-family: 'Raleway', serif;
  font-weight: 600;
  cursor: pointer;
}

footer li:hover {
  background-color: #567ffb;
}

footer a {
  text-decoration: none;
  color: white;
}

/* Responsive */
@media screen and (max-width: 1605px) {
  #creuse {
    display: none;
  }
}
@media screen and (max-width: 1719px) {
  footer li {
    height: 100%;
    font-size: 1em;
  }
}
@media screen and (max-width: 1040px) {
  #topHeader {
    flex-direction: column;
  }
  #topHeader a {
    margin: 0 auto 10px auto;
  }
  #logo {
    width: 150px;
  }
  #contact i, #iconePaiement i {
    font-size: 2em;
  }
  #contact a, #iconePaiement li {
    font-size: 1em;
  }
}
@media screen and (max-width: 860px) {
  header nav ul {
    padding-left: 0;
  }
  header nav li {
    font-size: 1em;
    padding: 15px 15px 0 15px;
  }
}
@media screen and (max-width: 660px) {
  #iconeDescription {
    display: none;
  }
  #contact ul {
    padding-left: 0;
  }
  #contact i {
    display: none;
  }
  #contact li {
    border-right: none;
  }
  footer ul {
    padding-left: 0;
  }
  .mentionCGVFiltre {
    padding: 50px 15px;
  }
}
